
  <style type="text/css">
  p  {color:#FF0003;}
  h4{color: #0010FF;}
  </style>
<!-- navbar -->
<div class="icon-bar five-up">
  <a class="item">
    <img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-21-home.png" >
    <label><p>Home</p></label>
  </a>
  <a class="item" href="http://www.stylemepretty.com/living/2013/01/13/smp-at-home-a-vacation-in-greece-from-sarah-yates/">
    <img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-498-glasses.png" >
    <label><p>Infos</p></label>
  </a>
  <a class="item" href="http://www.visitgreece.gr/en/in_the_mood_for/summer_vacations">
    <img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-13-heart.png" >
    <label><p>Like</p></label>
  </a>
  <a class="item" href="https://www.youtube.com/watch?v=8yCJ7W_jKWU">
    <img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-181-facetime-video.png" >
    <label><p>Videos</p></label>
  </a>
  <a class="item" href="https://twitter.com/lydia_akram?lang=fr">
    <img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-236-pen.png" >
    <label><p>Contact</p></label>
  </a>
</div>

<!-- formulaire -->
<div class="form-group">
  <form class="form-inline" action="/resultat" method="post">
      <label for="exampleInputName2"><h4>Name</h4></label>
      <input type="text" name="name" class="form-control" id="exampleInputName2" placeholder="Jane Doe" size="30">
      <label for="exampleInputEmail2"><h4>Email</h4></label>
      <input type="text" name="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com" size="40">
      <button class="btn btn-danger">Envoyer</button>
  </form>
</div>
<br>
<br>
<br>

<!-- grid -->
<ul class="small-block-grid-3">
  <li><p>A holiday in Greece conjures up images of idyllic islands, long sandy beaches, sun-bleached ruins and turquoise blue sea. But with miles and miles of mainland coastline and over 1,000 islands (no one is really sure how many there are – even those numbers vary), of which 227 are inhabited</p></li>
  <li>
		  <!-- pricing table -->
	<div class="row" data-equalizer>
	  <div class="large-6 columns">
	    <ul class="pricing-table">
	  <li class="title">Atractive Prices</li>
	  <li class="price">$120</li>
	  <li class="description">An awesome description</li>
	  <li class="bullet-item">INCLUDING HOTEL</li>
	  <li class="bullet-item">SWIMMING POOL 24h</li>
	  <li class="bullet-item">BREAKFAST</li>
	  <li class="cta-button"><a class="button" href="https://formulaire.ingdirect.fr/public/compte-courant/index6.jsf?gclid=CjwKEAjw3sKpBRDJ7rDqzsyuhDASJACZAikirsuPvp2dJZC64RcHAGYbOdU_QtgwQtRZd4oRqT-PuBoCyDPw_wcB">Buy Now</a></li>
	</ul>
	  </div>
</li>
</ul>

<!-- copyright -->
<div class="me">
	<img src="glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-399-copyright-mark.png"><p>Lydia Hassan</p>
</div>
